<div class="bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <ul>
                    <!-- Propenso a cambiar por iconos -->
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">WhatsApp</a></li>
                    <li><a href="#">Email</a></li>
                    <li><a [routerLink]="['faq']">Preguntas Frecuentes</a></li>
                    <li><a href="#">Copyright 2021</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>