<div class="container">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input name="phoneNumber" [(ngModel)]="phoneNumber" type="text" class="form-control">
            </div>
            <div id="recaptcha-container"></div>
            <button class="btn btn-primary btn-block">SEND OTP</button>
            <hr>
            <div class="form-group">
                <label for="otp">OTP</label>
                <input name="otp" [(ngModel)]="otp" type="text" class="form-control">
            </div>
            <button class="btn btn-danger btn-block">VERIFY OTP</button>
        </div>
    </div>
</div>