<div class="container m-5">
    <div class="row" *ngIf="!loading else cargando">
        <div class="col-12 col-lg-4">
            <h3>Subir archivos a Cloud Storage</h3>
            <ul>
                <li *ngFor="let referencia of referencias">
                    URL de descarga: <a [href]="referencia" target="_blank">Descargar</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-lg-8 text-center mt-5">
            <form [formGroup]="archivoForm" (ngSubmit)="subirArchivo()">
                <div class="form-group">
                    <input type="file" class="form-control-file" formControlName="archivo" multiple
                        (change)="cambioArchivo($event)">
                    <span>{{ mensajeArchivo }}</span>
                </div>
                <hr>
                <button class="btn btn-success btn-block mt-2" [disabled]="!archivoForm.valid">
                    Subir archivo
                </button>
            </form>
        </div>
    </div>
    <ng-template class="row" #cargando>
        <div class="col text-center">
            <div class="spinner-grow text-info" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </ng-template>
</div>