<div class="mt-5 container" >
    <div class=" row  mb-3 text-center">
        <div class="col">
            <strong style="color: grey;" >Aguascalientes,Ags.</strong>
            <img src="../../../assets/img/user.png" alt="">
            <h3>Carlos García Gutiérrez</h3>
            <h5>"Charly99"</h5>
            <li class="  list-group-item list-group-item-action list-group-item-success">Calificacion: 
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <small style="margin-top: 0px;" > (27 evaluaciones)</small>
            </li>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Correo</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Contraseña</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputAddress">Dirección</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="form-group">
                  <label for="inputAddress2">Direccion Secundaria</label>
                  <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputCity">Ciudad</label>
                    <input type="text" class="form-control" id="inputCity">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputState">Estado</label>
                    <select id="inputState" class="form-control">
                      <option selected>Selecciona...</option>
                      <option>...</option>
                    </select>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="inputZip">Código Postal</label>
                    <input type="text" class="form-control" id="inputZip">
                  </div>
                </div>
                <div class="form-group">
                   
                </div>
               
              </form>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-4"></div>
        <div class="col-4">
            <button type="submit" class="btn btn-primary">Confirmar</button>
        </div>
        <div class="col-4"></div>
    </div>
    <hr>
</div>
