<div class="container mt-5 pt-3 pt-lg-4">

    <!-- Titulo (header) -->
    <div class="row">
        <div class="col">
            <h3>Crear una cuenta</h3>
        </div>
    </div>

    <!-- Contenido -->
    <div class="row">
        <div class="col">
            <p>Crea una cuenta para tener acceso a miles de negocios cerca de ti
                o inicia sesión <a (click)="navigate('login')" class="text-verde pointer">aquí</a>
            </p>
        </div>
    </div>

    <form [formGroup]="signUpForm" (ngSubmit)="submitForm()">
        <div class="form-group">
            <label for="nombre">Nombre(s)</label>
            <input type="text" formControlName="nombre" id="nombre" (keyup)="keyUp()" class="form-control mb-2"
                autocomplete="off" [class.is-invalid]="!nombre.valid && editado" [class.is-valid]="nombre.valid && editado"
                placeholder="Escribe tu nombre aquí">
        </div>
        <div class="form-group">
            <label for="apellido">Apellido(s)</label>
            <input type="text" formControlName="apellido" id="apellido" (keyup)="keyUp()" class="form-control mb-2"
                autocomplete="off" [class.is-invalid]="!apellido.valid && editado" [class.is-valid]="apellido.valid && editado"
                placeholder="Escribe tu nombre aquí">
        </div>
    </form>

</div>